[Unit]
Description=Thinkpad X380 Yoga Deamon
After=acpid.service iio-sensor-proxy.service

[Service]
Type=simple
ExecStart=/bin/sh -c "export DISPLAY=:0.0 && /usr/local/bin/yogax380d"

[Install]
WantedBy=multi-user.target
